<%include partials/header%>



<div class="container newsContainer">
  <%news.forEach(function(news, index) { %>
  <div id="accordion" class="accordion">
    <%news.forEach(function(childNews) {%>
    <div class="line">
      <div id="headingOne<%=childNews._id%>">
        <h5 class="mb-4"><p><%=childNews.title%></p>
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne<%=childNews._id%>"
            href="#collapseOne<%childNews._id%>" aria-expanded="true" type="button" aria-controls="<%=childNews._id%>">
            <img class="cross" src="images/cross.png">
          </button>
        </h5>
      </div>
      <div id="collapseOne<%=childNews._id%>" class="newsCollapse navbar-collapse collapse show"
        aria-labelledby="headingOne<%=childNews._id%>" data-parent="#accordion">

        <div id="info-<%=index%>" class="info">
          <img src="<%=childNews.image%>">
          <p><%=childNews.description%></p>
        </div>
      </div>
    </div>
    <%})%>
  </div>
  <%})%>
</div>
</div>

</div>



<%include partials/footer%>